In [132]:
import pandas as pd

#just to ignore some built in warnings which are not necessary
import warnings 
warnings.filterwarnings("ignore")

### Task 1. import the ODI_cricker.xlsx file bowler sheet in your notebook

In [133]:
#reading a csv file
df = pd.read_excel("ODI_cricket.xlsx", sheet_name="bowler")

### Task 2. Display the first 10 rows of the dataframe

In [134]:
display(df.head(10))

,Player,Span,Mat,Inns,Balls,Runs,Wkts,Ave,Econ,SR,4,5
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,23.08,3.93,35.2,15,10
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,23.52,3.89,36.2,17,6
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,23.84,4.68,30.5,14,13
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,27.53,4.18,39.4,9,4
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,34.51,4.62,44.7,4,9
5,SM Pollock (Afr/ICC/SA),1996-2008,303,297,15712,9631,393,24.50,3.67,39.9,12,5
6,GD McGrath (AUS/ICC),1993-2007,250,248,12970,8391,381,22.02,3.88,34.0,9,7
7,B Lee (AUS),2000-2012,221,217,11185,8877,380,23.36,4.76,29.4,14,9
8,SL Malinga (SL),2004-2019,226,220,10936,9760,338,28.87,5.35,32.3,11,8
9,A Kumble (Asia/INDIA),1990-2007,271,265,14496,10412,337,30.89,4.30,43.0,8,2

### Task 3. Create a markdown cell and explain the meaning of each column

In [135]:
df.columns

Index(['Player',   'Span',    'Mat',   'Inns',  'Balls',   'Runs',   'Wkts',
          'Ave',   'Econ',     'SR',        4,        5],
      dtype='object')

### Explanation of columns
#### Player  : Name of the player including Nationality or any other affiliated team he played for 
#### Span    : Starting year of his playing ODI to the last year 
#### Mat       : Number of matches he played (Matches)
#### Inns      : Number of innings bowled(Innings)
#### Balls     : Total number of times he delivered a fair delivery
#### Runs     : Totan runs conceded in all innings
#### Wkts      : Number of wickets he took
#### Ave        : Bowling average 
#### Econ      : Average runs he gave in an over , Economy rate
#### SR          : Bowling strike rate  
#### 4             : Number of four wickets in an innings
#### 5             : Number of five wickets in an innings

### Task 4. Find the number of rows and columns in the dataframe

In [136]:
print(df.shape)#to find the number of rows and columns
print("number of rows= ",df.shape[0],", number of columns=",df.shape[1])

(77, 12)
number of rows=  77 , number of columns= 12

### Task 5. find the data statistics and check for the data types

In [137]:
df.describe() #statistics

,Mat,Inns,Balls,Runs,Wkts,Ave,Econ,SR,4,5
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,194.402597,181.194805,8839.402597,6671.714286,233.805195,28.958052,4.596753,37.909091,6.350649,2.870130
std,82.485606,67.958393,3316.055457,2245.839029,84.406603,4.826768,0.515814,6.060901,3.556929,2.530606
min,80.000000,76.000000,4074.000000,2821.000000,151.000000,18.680000,3.300000,26.100000,1.000000,0.000000
25%,136.000000,128.000000,6182.000000,5058.000000,173.000000,24.970000,4.280000,33.000000,3.000000,1.000000
50%,170.000000,164.000000,8054.000000,6192.000000,199.000000,29.290000,4.660000,37.800000,6.000000,2.000000
75%,227.000000,218.000000,10750.000000,8021.000000,272.000000,31.900000,4.920000,41.400000,8.000000,4.000000
max,463.000000,372.000000,18811.000000,13632.000000,534.000000,44.480000,5.830000,52.500000,17.000000,13.000000

In [138]:
df.info() #data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  77 non-null     object
 1   Span    77 non-null     object
 2   Mat     77 non-null     int64
 3   Inns    77 non-null     int64
 4   Balls   77 non-null     int64
 5   Runs    77 non-null     int64
 6   Wkts    77 non-null     int64
 7   Ave     77 non-null     float64
 8   Econ    77 non-null     float64
 9   SR      77 non-null     float64
 10  4       77 non-null     int64
 11  5       77 non-null     int64
dtypes: float64(3), int64(7), object(2)
memory usage: 7.3+ KB

### Task 6. Are there any missing values present in the dataset?

From the above info we can see that there are 77 non-null values in each row of each data type. Before from shape we saw that there are 77 rows total. So, No, there are no missing values.

### Task 7. Rename the column names appropriately

In [139]:
df = df.rename(columns={'Mat':'Match', 
                        'Inns':'Innings',
                        'Wkts':'Wickets',
                        'Ave':'Average',
                        'Econ': 'Economy',
                        'SR': 'Strike_Rate',
                        4: 'Four Wickets',
                        5: 'Five Wickets'})

display(df.head())

,Player,Span,Match,Innings,Balls,Runs,Wickets,Average,Economy,Strike_Rate,Four Wickets,Five Wickets
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,23.08,3.93,35.2,15,10
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,23.52,3.89,36.2,17,6
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,23.84,4.68,30.5,14,13
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,27.53,4.18,39.4,9,4
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,34.51,4.62,44.7,4,9

### Task 8. How many players played for ICC?

In [140]:
#first we need to define a function that cehcks if there is ICC in the players' name
def icc_check(x):
    if "ICC" in x:
        return "Yes"
    else:
        return "No"
#now find in the data if it contains "ICC"
df['played_for_ICC'] = df['Player'].apply(icc_check)
print(df['played_for_ICC'].value_counts())

No     64
Yes    13
Name: played_for_ICC, dtype: int64

So, 13 players played for ICC

### TASK 9.  How many different countries are present in this dataset?

This is not possibe to find from the current structure of the column names, because country names are included in the player name. So, we need to modify the columns

In [141]:
#so first we need to split the player column into player and country
df[["Player Name", "Country"]] = df['Player'].str.split("(", expand=True)
display(df.head())

,Player,Span,Match,Innings,Balls,Runs,Wickets,Average,Economy,Strike_Rate,Four Wickets,Five Wickets,played_for_ICC,Player Name,Country
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,23.08,3.93,35.2,15,10,Yes,M Muralitharan,Asia/ICC/SL)
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,23.52,3.89,36.2,17,6,No,Wasim Akram,PAK)
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,23.84,4.68,30.5,14,13,No,Waqar Younis,PAK)
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,27.53,4.18,39.4,9,4,No,WPUJC Vaas,Asia/SL)
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,34.51,4.62,44.7,4,9,Yes,Shahid Afridi,Asia/ICC/PAK)

In [142]:
#now we need to delete the ) end of Country column 
df['Country'] = df['Country'].str.replace(")", "")
display(df.head())

,Player,Span,Match,Innings,Balls,Runs,Wickets,Average,Economy,Strike_Rate,Four Wickets,Five Wickets,played_for_ICC,Player Name,Country
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,23.08,3.93,35.2,15,10,Yes,M Muralitharan,Asia/ICC/SL
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,23.52,3.89,36.2,17,6,No,Wasim Akram,PAK
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,23.84,4.68,30.5,14,13,No,Waqar Younis,PAK
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,27.53,4.18,39.4,9,4,No,WPUJC Vaas,Asia/SL
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,34.51,4.62,44.7,4,9,Yes,Shahid Afridi,Asia/ICC/PAK

In [143]:
df['Country'].value_counts()

INDIA           9
PAK             9
AUS             8
NZ              6
SL              5
WI              5
ENG             4
Asia/INDIA      4
SA              3
Asia/SL         3
ENG/ICC         2
BAN             2
Afr/ICC/SA      2
AUS/ICC         2
Asia/ICC/PAK    2
ICC/NZ          2
Afr/SA          2
AFG             1
Asia/BAN        1
Asia/ICC/SL     1
Afr/ZIM         1
ICC/SA          1
Asia/PAK        1
ICC/WI          1
Name: Country, dtype: int64

Here, we can see that it is not easy to see the country names. So we will delete ICC, Asia, Afr from country names. But before that we will create two columns named Played for Asia and Played for Afr to keep the record. Otherwise we will lose it

In [144]:
def asia_check(x):
    if "Asia" in x:
        return "Yes"
    else:
        return "No"
    
df['played_for_Asia'] = df['Country'].apply(asia_check)
df.head(10)

,Player,Span,Match,Innings,Balls,Runs,Wickets,Average,Economy,Strike_Rate,Four Wickets,Five Wickets,played_for_ICC,Player Name,Country,played_for_Asia
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,23.08,3.93,35.2,15,10,Yes,M Muralitharan,Asia/ICC/SL,Yes
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,23.52,3.89,36.2,17,6,No,Wasim Akram,PAK,No
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,23.84,4.68,30.5,14,13,No,Waqar Younis,PAK,No
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,27.53,4.18,39.4,9,4,No,WPUJC Vaas,Asia/SL,Yes
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,34.51,4.62,44.7,4,9,Yes,Shahid Afridi,Asia/ICC/PAK,Yes
5,SM Pollock (Afr/ICC/SA),1996-2008,303,297,15712,9631,393,24.50,3.67,39.9,12,5,Yes,SM Pollock,Afr/ICC/SA,No
6,GD McGrath (AUS/ICC),1993-2007,250,248,12970,8391,381,22.02,3.88,34.0,9,7,Yes,GD McGrath,AUS/ICC,No
7,B Lee (AUS),2000-2012,221,217,11185,8877,380,23.36,4.76,29.4,14,9,No,B Lee,AUS,No
8,SL Malinga (SL),2004-2019,226,220,10936,9760,338,28.87,5.35,32.3,11,8,No,SL Malinga,SL,No
9,A Kumble (Asia/INDIA),1990-2007,271,265,14496,10412,337,30.89,4.30,43.0,8,2,No,A Kumble,Asia/INDIA,Yes

In [145]:
def africa_check(x):
    if "Afr" in x:
        return "Yes"
    else:
        return "No"
    
df['played_for_Africa'] = df['Country'].apply(africa_check)
df.head(10)

,Player,Span,Match,Innings,Balls,Runs,Wickets,Average,Economy,Strike_Rate,Four Wickets,Five Wickets,played_for_ICC,Player Name,Country,played_for_Asia,played_for_Africa
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,23.08,3.93,35.2,15,10,Yes,M Muralitharan,Asia/ICC/SL,Yes,No
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,23.52,3.89,36.2,17,6,No,Wasim Akram,PAK,No,No
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,23.84,4.68,30.5,14,13,No,Waqar Younis,PAK,No,No
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,27.53,4.18,39.4,9,4,No,WPUJC Vaas,Asia/SL,Yes,No
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,34.51,4.62,44.7,4,9,Yes,Shahid Afridi,Asia/ICC/PAK,Yes,No
5,SM Pollock (Afr/ICC/SA),1996-2008,303,297,15712,9631,393,24.50,3.67,39.9,12,5,Yes,SM Pollock,Afr/ICC/SA,No,Yes
6,GD McGrath (AUS/ICC),1993-2007,250,248,12970,8391,381,22.02,3.88,34.0,9,7,Yes,GD McGrath,AUS/ICC,No,No
7,B Lee (AUS),2000-2012,221,217,11185,8877,380,23.36,4.76,29.4,14,9,No,B Lee,AUS,No,No
8,SL Malinga (SL),2004-2019,226,220,10936,9760,338,28.87,5.35,32.3,11,8,No,SL Malinga,SL,No,No
9,A Kumble (Asia/INDIA),1990-2007,271,265,14496,10412,337,30.89,4.30,43.0,8,2,No,A Kumble,Asia/INDIA,Yes,No

In [146]:
df['Country'] = df['Country'].str.replace("ICC/", "")
df['Country'] = df['Country'].str.replace("/ICC", "")
df['Country'] = df['Country'].str.replace("Asia/", "")
df['Country'] = df['Country'].str.replace("Afr/", "")

df.head()

,Player,Span,Match,Innings,Balls,Runs,Wickets,Average,Economy,Strike_Rate,Four Wickets,Five Wickets,played_for_ICC,Player Name,Country,played_for_Asia,played_for_Africa
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,23.08,3.93,35.2,15,10,Yes,M Muralitharan,SL,Yes,No
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,23.52,3.89,36.2,17,6,No,Wasim Akram,PAK,No,No
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,23.84,4.68,30.5,14,13,No,Waqar Younis,PAK,No,No
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,27.53,4.18,39.4,9,4,No,WPUJC Vaas,SL,Yes,No
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,34.51,4.62,44.7,4,9,Yes,Shahid Afridi,PAK,Yes,No

In [147]:
print(df['Country'].value_counts())
df['Country'].nunique()

INDIA    13
PAK      12
AUS      10
SL        9
SA        8
NZ        8
ENG       6
WI        6
BAN       3
AFG       1
ZIM       1
Name: Country, dtype: int64

11

### So, there are total 11 countries

### Task 10. Which player(s) had played for the longest period of time?

To find this, we need to use the span column, where we have starting year and ending year. We need to subtract start from end and create a new column name "Total Years PLayed"

In [148]:
# splitting the 'Span' column based on the "-"
df[['start_year', 'end_year']] = df['Span'].str.split("-", expand=True)

display(df.head())

,Player,Span,Match,Innings,Balls,Runs,Wickets,Average,Economy,Strike_Rate,Four Wickets,Five Wickets,played_for_ICC,Player Name,Country,played_for_Asia,played_for_Africa,start_year,end_year
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,23.08,3.93,35.2,15,10,Yes,M Muralitharan,SL,Yes,No,1993,2011
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,23.52,3.89,36.2,17,6,No,Wasim Akram,PAK,No,No,1984,2003
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,23.84,4.68,30.5,14,13,No,Waqar Younis,PAK,No,No,1989,2003
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,27.53,4.18,39.4,9,4,No,WPUJC Vaas,SL,Yes,No,1994,2008
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,34.51,4.62,44.7,4,9,Yes,Shahid Afridi,PAK,Yes,No,1996,2015

But still there is a problem, because by default create new columns are string type, so we can't subtract

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Player             77 non-null     object
 1   Span               77 non-null     object
 2   Match              77 non-null     int64
 3   Innings            77 non-null     int64
 4   Balls              77 non-null     int64
 5   Runs               77 non-null     int64
 6   Wickets            77 non-null     int64
 7   Average            77 non-null     float64
 8   Economy            77 non-null     float64
 9   Strike_Rate        77 non-null     float64
 10  Four Wickets       77 non-null     int64
 11  Five Wickets       77 non-null     int64
 12  played_for_ICC     77 non-null     object
 13  Player Name        77 non-null     object
 14  Country            77 non-null     object
 15  played_for_Asia    77 non-null     object
 16  played_for_Africa  77 non-null     object
 17  start_year         77 non-null     object
 18  end_year           77 non-null     object
dtypes: float64(3), int64(7), object(9)
memory usage: 11.6+ KB

So, we need to do type conversion of those two column two numeric(here integer)

In [150]:
df['start_year'] = df['start_year'].astype('int') 
df['end_year'] = df['end_year'].astype('int')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Player             77 non-null     object
 1   Span               77 non-null     object
 2   Match              77 non-null     int64
 3   Innings            77 non-null     int64
 4   Balls              77 non-null     int64
 5   Runs               77 non-null     int64
 6   Wickets            77 non-null     int64
 7   Average            77 non-null     float64
 8   Economy            77 non-null     float64
 9   Strike_Rate        77 non-null     float64
 10  Four Wickets       77 non-null     int64
 11  Five Wickets       77 non-null     int64
 12  played_for_ICC     77 non-null     object
 13  Player Name        77 non-null     object
 14  Country            77 non-null     object
 15  played_for_Asia    77 non-null     object
 16  played_for_Africa  77 non-null     object
 17  start_year         77 non-null     int32
 18  end_year           77 non-null     int32
dtypes: float64(3), int32(2), int64(7), object(7)
memory usage: 11.0+ KB
None

In [151]:
df['years_played'] = df['end_year'] - df['start_year']

display(df.head(10))

,Player,Span,Match,Innings,Balls,Runs,Wickets,Average,Economy,Strike_Rate,Four Wickets,Five Wickets,played_for_ICC,Player Name,Country,played_for_Asia,played_for_Africa,start_year,end_year,years_played
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,23.08,3.93,35.2,15,10,Yes,M Muralitharan,SL,Yes,No,1993,2011,18
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,23.52,3.89,36.2,17,6,No,Wasim Akram,PAK,No,No,1984,2003,19
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,23.84,4.68,30.5,14,13,No,Waqar Younis,PAK,No,No,1989,2003,14
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,27.53,4.18,39.4,9,4,No,WPUJC Vaas,SL,Yes,No,1994,2008,14
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,34.51,4.62,44.7,4,9,Yes,Shahid Afridi,PAK,Yes,No,1996,2015,19
5,SM Pollock (Afr/ICC/SA),1996-2008,303,297,15712,9631,393,24.50,3.67,39.9,12,5,Yes,SM Pollock,SA,No,Yes,1996,2008,12
6,GD McGrath (AUS/ICC),1993-2007,250,248,12970,8391,381,22.02,3.88,34.0,9,7,Yes,GD McGrath,AUS,No,No,1993,2007,14
7,B Lee (AUS),2000-2012,221,217,11185,8877,380,23.36,4.76,29.4,14,9,No,B Lee,AUS,No,No,2000,2012,12
8,SL Malinga (SL),2004-2019,226,220,10936,9760,338,28.87,5.35,32.3,11,8,No,SL Malinga,SL,No,No,2004,2019,15
9,A Kumble (Asia/INDIA),1990-2007,271,265,14496,10412,337,30.89,4.30,43.0,8,2,No,A Kumble,INDIA,Yes,No,1990,2007,17

In [152]:
Finally, now we can find our answer

SyntaxError: invalid syntax (<ipython-input-152-ee990141520b>, line 1)

In [ ]:
df.sort_values(by="years_played", ascending = False).head(10)

### SR Tendulkar played for the longest period of time

### Task 11. Which player(s) had played for the shortest period of time?

In [ ]:
df.sort_values(by="years_played", ascending = True).head(10)

### So , 4 players played for the shortest period of time according to this data set. And they are: BKV Prasad, Rashid Khan, Baw Mendis, Saeed Ajmal

### Task 12. How many Australian Bowlers are present in this dataset?

In [ ]:
df['Country'].value_counts()['AUS']

### Ten Australian Bowlers are present in this dataset

### Task 13. Is there any Bangladeshi player present in this dataset?

In [ ]:
df['Country'].value_counts()['BAN']

### Yes, there are three Bangladesh players in this dataset

### Task 14. Which player had the lowest economy rate?

In [ ]:
df.sort_values(by="Economy", ascending = True).head(10)

### RJ Hadlee had the lowest economy rate

### Task 15. Which player had the lowest strike rate?

In [ ]:
df.sort_values(by="Strike_Rate", ascending = True).head(10)

### MA Starc has the lowest strike rate

### Task 16. Which player had the lowest bowling average?

In [ ]:
df.sort_values(by="Average", ascending = True).head(10)

### Rashid Khan had the lowest bowling average

### 17. Remove Unnecessary columns if needed

### We have some unnecessary columns, as well as the structure, like years played should come before. We need to sort that

In [153]:
df = df.drop('Player', axis=1)
df = df.drop('Span', axis=1)
df = df.drop('start_year', axis=1)
df = df.drop('end_year', axis=1)
display(df.head())

,Match,Innings,Balls,Runs,Wickets,Average,Economy,Strike_Rate,Four Wickets,Five Wickets,played_for_ICC,Player Name,Country,played_for_Asia,played_for_Africa,years_played
0,350,341,18811,12326,534,23.08,3.93,35.2,15,10,Yes,M Muralitharan,SL,Yes,No,18
1,356,351,18186,11812,502,23.52,3.89,36.2,17,6,No,Wasim Akram,PAK,No,No,19
2,262,258,12698,9919,416,23.84,4.68,30.5,14,13,No,Waqar Younis,PAK,No,No,14
3,322,320,15775,11014,400,27.53,4.18,39.4,9,4,No,WPUJC Vaas,SL,Yes,No,14
4,398,372,17670,13632,395,34.51,4.62,44.7,4,9,Yes,Shahid Afridi,PAK,Yes,No,19

In [154]:
new_col_sequence = ['Player Name', 'Country', 'years_played', 'Match', 'Innings', 'Balls', 'Runs', 'Wickets',
       'Average', 'Economy', 'Strike_Rate', 'Four Wickets', 'Five Wickets', 'played_for_ICC', 'played_for_ICC', 'played_for_ICC']

df = df[new_col_sequence]
display(df.head())

,Player Name,Country,years_played,Match,Innings,Balls,Runs,Wickets,Average,Economy,Strike_Rate,Four Wickets,Five Wickets,played_for_ICC,played_for_ICC,played_for_ICC
0,M Muralitharan,SL,18,350,341,18811,12326,534,23.08,3.93,35.2,15,10,Yes,Yes,Yes
1,Wasim Akram,PAK,19,356,351,18186,11812,502,23.52,3.89,36.2,17,6,No,No,No
2,Waqar Younis,PAK,14,262,258,12698,9919,416,23.84,4.68,30.5,14,13,No,No,No
3,WPUJC Vaas,SL,14,322,320,15775,11014,400,27.53,4.18,39.4,9,4,No,No,No
4,Shahid Afridi,PAK,19,398,372,17670,13632,395,34.51,4.62,44.7,4,9,Yes,Yes,Yes